*{
    box-sizing: border-box;
    font-family: sans-serif,Verdana, Geneva, Tahoma, sans-serif;
    
}
main{
    height: 300vh;
    margin-top: 50px;
}
h1{
    position: fixed;
    top: 10px;
}
h2{
    margin-top: 100px;
}
.Pai{
    width: 400px;
    height: 400px;
    background-color: blue;
    /*position: relative;*/
    
    
}
.Filho{
    width: 200px;
    height:200px;
    background-color: green;
    right: 0;
    position: absolute;
    top: 0;
}